@using EPazar.Entity.Entity

@model List<AnasayfaSagBanner>

    @foreach(var item in Model)
    {
        <div class="banner-wrap">
            <div class="">
                <a href="@item.Link"  style="margin-bottom: 15px;background-image: url(@item.Image);visibility: visible;height: auto;display: block;width: 340px;height: 333px;">

                </a>
            </div>
        </div>
    }