@using EPazar.Entity.Entity

@model List<AnasayfaMiniBanner>

    @foreach(var item in Model)
    {
         <article class="comp-min-banner">
                    <a href="@item.Link" class="campain">
                        <span class="image-container">
                            <img src="@item.Image" alt="">
                        </span>
                        <summary class="campaign-summary">
                            <span class="name">
                                @item.Aciklama
                            </span>
                        </summary>
                    </a>
                </article>
    }