@using Microsoft.AspNetCore.Http.Extensions
@using System.Text.RegularExpressions
@model List<string>  

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<script type="text/javascript">
    function RenkAra(value){
        console.log(value);
            
        $.ajax({
        url: "/UrunOzellikleri/Renkler/"+value,
        data: {
        },
        type: "GET",
        dataType : "html",
        success: function (data){
                console.log(data);
                $('#renklerDivi').html(data);
                //$('#showresults').html($('#showresults',data).html());
                // similar to $(data).find('#showresults')
            }
        });
    }
  
</script>
<input type="text" value="" placeholder="Renklerde Arayın..." onkeyup="RenkAra(this.value)" id="inputRenkAdi" name="RenkAdi" style="border: 1px solid gray;border-radius: 13px;margin-bottom: 9px;width: 96%;text-align: center;margin-left: 8px;height: 39px;"/>
<div id="renklerDivi">
@foreach (var item in Model)
{
    var Url = Context.Request.Query["Renk"];
    var VarMi = Url.Contains(item);

    <div class="secili-filtre">
        <a onclick="RenkFilterEkle('@item')" href="#" style="display: flex;">
            @if (@VarMi)
            {
                <span>✅</span>
            }
            <span class="checkbox-span">@item</span>
        </a>
    </div>
}
</div>
<script>
    function RenkFilterEkle(BedenBilgisi){
        BedenBilgisi = BedenBilgisi.replace(" ","%20");
        let text = window.location.href;
        text = text.replace("%C5","Ş");
        text = text.replace("%9E","");
        if(text.search(BedenBilgisi) != -1)      
        {
            window.location.href = text.replace("&Renk="+BedenBilgisi, "");
            return;
        }
        else{
            window.location.href =  window.location.href+"&Renk="+BedenBilgisi;
            return;
        }
    }
</script>