@using Microsoft.AspNetCore.Http.Extensions
@using System.Text.RegularExpressions
@using System.Web
@model List<string>    
@{
}

<script type="text/javascript">
    function BedenAra(value){
        $.ajax({
        url: "/UrunOzellikleri/UrunBedenleri/"+value,
        data: {
        },
        type: "GET",
        dataType : "html",
        success: function (data){
                console.log(data);
                $('#bedenlerDivi').html(data);
            }
        });
    }
  
</script>
<input type="text" value="" onkeyup="BedenAra(this.value)" id="inputBedenAdi" name="BedenAdi" style="border: 1px solid gray;border-radius: 13px;margin-bottom: 9px;"/>
<div id="bedenlerDivi">
@foreach (var item in Model)
{
    var Url = Context.Request.Query["Beden"];
     var deneme = HttpUtility.UrlDecode(item);
    var VarMi = Url.Contains(deneme);

    <a onclick="BedenFilterEkle('@Uri.EscapeUriString(item)')" href="#" style="display: flex;"><input type="checkbox" checked="@VarMi" >
        <span class="checkbox-span">@item</span>
    </a>
}
</div>

<script>
    function BedenFilterEkle(BedenBilgisi){
        let text = window.location.href;
        if(text.search(BedenBilgisi) != -1)      
        {
            window.location.href = text.replace("&Beden="+BedenBilgisi, "");
            return;
        }
        window.location.href =  window.location.href+"&Beden="+BedenBilgisi;
        return;
    }
</script>