

<div class="faq-section spad" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12" style="margin-top: 43px;">
                        <h2>Kargo Ve Teslimat İşlemleri</h2>
                    </div>
                    <div class="col-lg-12" style="margin-bottom: 50px;">
                        <p style="margin-top: 40px;">Ürünlerin Kargolanma Süresi Ürün Sayfalarındaki "Kargo Bilgileri" Bölümünde Belirtilir. Satıcı Ürün Sayfasında Belirtilen Süre Içerisinde Ürünü Kargolayacaktır. Mobilya Ve Beyaz Eşya Ürünlerinde Bu Süre En Fazla 7 Iş Günüdür.

                            Satıcı Ürün Sayfasında Yazan Süre Içerisinde Ürünü Kargolamazsa Bigtarz Tarafından Satıcıya Hatırlatma Mesajı Gönderilir Ve Son 24 Saatlik Süreç Başlar. Son 24 Saat Süre Içinde De Satıcı Ürünü Kargolamazsa Bana Özel Sayfanızda "Satışı İptal Et" Linki Çıkar. Bu Link Ile Işlemi Iptal Ettiğinizde Ürün Bedeli Kartınıza Iade Edilir.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>