@using Microsoft.AspNetCore.Http.Extensions
@using System.Text.RegularExpressions
@model List<string>    
@{
}


@foreach (var item in Model)
{
    var Url = Context.Request.Query["Beden"];
    var VarMi = Url.Contains(item);

    <a onclick="BedenFilterEkle('@item')" href="#" style="display: flex;"><input type="checkbox" checked="@VarMi" >
        <span class="checkbox-span">@item</span>
    </a>
}

<script>
    function BedenFilterEkle(BedenBilgisi){
        let text = window.location.href;
        debugger;
        text = text.replace("%20"," ");
        text = text.replace("%C5","Ş");
        text = text.replace("%9E","");
        if(text.search(BedenBilgisi) != -1)      
        {
            window.location.href = text.replace("&Beden="+BedenBilgisi, "");
            return;
        }
        window.location.href =  window.location.href+"&Beden="+BedenBilgisi;
        return;
    }
</script>