@using EPazar.Entity.Entity
@using EPazar.Entity.SanalEntity
@using Microsoft.AspNetCore.Http


@model NavbarEntityleri
@{
    var AnaKategorilerList = Model.AnaKategorilerList;
    var KategorilerList = Model.KategorilerList;
    var AltKategorilerList = Model.AltKategorilerList;
}
@{
    var SeciliSeciliAnaKategoriId = Context.Request.RouteValues.FirstOrDefault(x=> x.Key == "AnaKategoriId").Value;
    var SecilenSeciliAnaKategoriId = "";
    if(SeciliSeciliAnaKategoriId != null)
        SecilenSeciliAnaKategoriId= SeciliSeciliAnaKategoriId.ToString();
}

<nav class="navigation__wrapper ">
    <ul class="navigation">
        @foreach (var AnaKategoriItem in AnaKategorilerList)
        {
            @if(SecilenSeciliAnaKategoriId == AnaKategoriItem.Id.ToString())
            {
            <li class="active"> 
                <a style="text-decoration:none" href="~/KategoriListesi/Listele/@AnaKategoriItem.Id/@AnaKategoriItem.Ad?Tumu=1" class="category-header">
                    @AnaKategoriItem.Ad
                </a>
            </li>
            }
            else{
            <li class=""> 
                <a style="text-decoration:none" href="~/KategoriListesi/Listele/@AnaKategoriItem.Id/@AnaKategoriItem.Ad?Tumu=1" class="category-header">
                    @AnaKategoriItem.Ad
                </a>
            </li>
            }
        }   
    </ul>
</nav>
                
