@using EPazar.Entity.SanalEntity
@model UrunlerKategorilerEntityleri

@if(Model.AltKategoriler != null)
{
    foreach(var item in Model.AltKategoriler)
    {
        <div class="secili-filtre">        
            <a href="~/Urunler/Liste/@item.UstKategoriId/ /@item.KategoriId/ /@item.Id/ ?Tumu=1">
                @item.Ad
            </a>
        </div>
    }
}
else
{
    @if(Model.Kategoriler != null)
    {
        foreach(var item in Model.Kategoriler)
        {
            <div class="secili-filtre">
                <a href="~/Urunler/Liste/@item.AnaKategoriId/ /@item.Id/ ?Tumu=1">@item.Ad</a>
            </div>
        }
    }
    else
    {
        @if(Model.AnaKategoriler != null)
        {
            foreach(var item in Model.AnaKategoriler)
            {
                <div class="secili-filtre">
                    <a href="~/Urunler/Liste/@item.Id/@item.Ad ?Tumu=1">@item.Ad</a>
                </div>
            }
        }
    }
}
