@using Microsoft.AspNetCore.Http.Extensions
@using System.Text.RegularExpressions
@model List<string>

@{ 
    Layout = null;
}

@foreach (var item in Model)
{
    var Url = Context.Request.Query["Renk"];
    var VarMi = Url.Contains(item);

    <div class="secili-filtre">
        <a onclick="RenkFilterEkle('@item')" href="#" style="display: flex;">
            @if (@VarMi)
            {
                <span>✅</span>
            }
            <span class="checkbox-span">@item</span>
        </a>
    </div>
}
